## Absenteeism Prediction using Python Module

In [9]:
from absenteeism_module import *

In [10]:
import pymysql

In [11]:
model = absenteeism_model('model','scaler')

/Users/mucha/anaconda3/lib/python3.11/site-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.linear_model.logistic module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.linear_model. Anything that cannot be imported from sklearn.linear_model is now part of the private API.
  warnings.warn(message, FutureWarning)
/Users/mucha/anaconda3/lib/python3.11/site-packages/sklearn/base.py:313: UserWarning: Trying to unpickle estimator LogisticRegression from version 0.19.1 when using version 0.22. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
/Users/mucha/anaconda3/lib/python3.11/site-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.preprocessing.data module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.preprocessing. Anything that cannot be imported from sklearn.preprocessing is now part of the private API.
  warnings.warn(message, FutureWarning)
/Users/mucha/anaconda3/lib/python3.11/site-packages/sklearn/base.py:313: UserWarning: Trying to unpickle estimator StandardScaler from version 0.19.1 when using version 0.22. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(

In [12]:
model.load_and_clean_data('Absenteeism_new_data.csv')

### Predicted Absenteeism and Their Probability

In [13]:
model.predicted_outputs()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet,Probability,Prediction
0,False,0.0,False,True,6,179,30,19,1,0,0,0.122799,0
1,True,0.0,False,False,6,361,28,27,0,1,4,0.873392,1
2,False,0.0,False,True,6,155,34,25,0,2,0,0.268305,0
3,False,0.0,False,True,6,179,40,22,1,2,0,0.196385,0
4,True,0.0,False,False,6,155,34,25,0,2,0,0.723502,1
5,True,0.0,False,False,6,225,28,24,0,1,2,0.716891,1
6,True,0.0,False,False,6,118,46,25,0,2,0,0.570524,1
7,False,0.0,False,True,6,179,30,19,1,0,0,0.122799,0
8,False,0.0,False,True,6,118,37,28,0,0,0,0.134118,0
9,True,0.0,False,False,6,118,37,28,0,0,0,0.525007,1
10,False,0.0,False,True,6,378,36,21,0,2,4,0.454998,0
11,False,0.0,True,False,6,118,50,31,0,1,0,0.644742,1
12,False,0.0,True,False,6,233,31,21,1,1,8,0.351108,0
13,False,0.0,False,True,6,179,30,19,1,0,0,0.122799,0
14,False,0.0,False,False,6,235,48,33,0,1,5,0.096533,0
15,False,0.0,False,False,6,268,33,25,1,0,0,0.189479,0
16,False,0.0,True,False,6,118,50,31,0,1,0,0.644742,1
17,True,0.0,False,False,6,179,30,19,1,0,0,0.499738,0
18,False,0.0,False,True,6,291,40,25,0,1,1,0.389531,0
19,True,0.0,False,False,7,179,30,19,1,0,0,0.500161,1
20,False,0.0,False,True,7,118,37,28,0,0,0,0.134315,0
21,False,0.0,False,True,7,233,31,21,1,1,8,0.051367,0
22,True,0.0,False,False,7,118,37,28,0,0,0,0.525428,1
23,True,0.0,False,False,7,118,37,28,0,0,0,0.525428,1
24,False,0.0,False,True,7,233,31,21,1,1,8,0.051367,0
25,False,0.0,False,True,7,235,43,38,0,1,0,0.512352,1
26,False,0.0,True,False,7,233,31,21,1,1,8,0.351493,0
27,True,0.0,False,False,7,228,58,22,0,2,1,0.633385,1
28,False,0.0,False,True,7,118,37,28,0,0,0,0.134315,0
29,True,0.0,False,False,7,228,58,22,0,2,1,0.633385,1
30,False,0.0,False,True,7,189,33,25,0,2,2,0.244943,0
31,False,0.0,False,True,7,118,37,28,0,0,0,0.134315,0
32,False,0.0,False,True,7,361,28,27,0,1,4,0.491962,0
33,False,0.0,False,True,7,225,28,24,0,1,2,0.262240,0
34,True,0.0,False,False,7,369,31,25,0,3,0,0.966560,1
35,True,0.0,False,False,7,289,33,30,0,2,1,0.912399,1
36,True,0.0,False,False,7,235,37,29,1,1,1,0.746598,1
37,False,0.0,False,False,7,118,40,34,0,1,8,0.023090,0
38,False,0.0,False,False,7,231,39,35,0,2,2,0.295647,0
39,False,0.0,False,False,7,179,53,25,0,1,1,0.076450,0

### Checkpoint 'df_new_obs'

#### Save predicted outputs in a new Dataframe

In [14]:
import pandas as pd

In [15]:
df_new_obs = model.predicted_outputs()

In [16]:
df_new_obs.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet,Probability,Prediction
0,False,0.0,False,True,6,179,30,19,1,0,0,0.122799,0
1,True,0.0,False,False,6,361,28,27,0,1,4,0.873392,1
2,False,0.0,False,True,6,155,34,25,0,2,0,0.268305,0
3,False,0.0,False,True,6,179,40,22,1,2,0,0.196385,0
4,True,0.0,False,False,6,155,34,25,0,2,0,0.723502,1

#### Explicitly store reasons as '1' and '0'

In [17]:
df_new_obs['Reason_1'] = df_new_obs['Reason_1'].astype(int)

In [18]:
df_new_obs['Reason_2'] = df_new_obs['Reason_2'].astype(int)

In [19]:
df_new_obs['Reason_3'] = df_new_obs['Reason_3'].astype(int)

In [20]:
df_new_obs['Reason_4'] = df_new_obs['Reason_4'].astype(int)

In [21]:
df_new_obs.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet,Probability,Prediction
0,0,0,0,1,6,179,30,19,1,0,0,0.122799,0
1,1,0,0,0,6,361,28,27,0,1,4,0.873392,1
2,0,0,0,1,6,155,34,25,0,2,0,0.268305,0
3,0,0,0,1,6,179,40,22,1,2,0,0.196385,0
4,1,0,0,0,6,155,34,25,0,2,0,0.723502,1

### Connect Python and SQL

##### Creating the INSERT Statement

In [23]:
insert_query = 'INSERT INTO predicted_outputs VALUES'

In [22]:
cursor.execute('select * from predicted_outputs;')
# there's currently no data stored in this table

0

In [24]:
insert_query

'INSERT INTO predicted_outputs VALUES'

In [25]:
df_new_obs.shape

(40, 13)

In [26]:
df_new_obs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pet', 'Probability', 'Prediction'], dtype=object)

In [27]:
for i in range(df_new_obs.shape[0]):
    insert_query += '('

    for j in range(df_new_obs.shape[1]):
        insert_query += str(df_new_obs[df_new_obs.columns.values[j]][i]) + ', '
    insert_query = insert_query[:-2] + '), '

In [28]:
insert_query

'INSERT INTO predicted_outputs VALUES(0, 0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12279926243494323, 0), (1, 0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.8733923470447209, 1), (0, 0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.2683049546034322, 0), (0, 0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.1963853143922252, 0), (1, 0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.7235017225544896, 1), (1, 0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.7168905020985188, 1), (1, 0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.5705238370679658, 1), (0, 0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12279926243494323, 0), (0, 0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.13411805408968352, 0), (1, 0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.5250065611752316, 1), (0, 0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.4549980207286245, 0), (0, 0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.6447416367376194, 1), (0, 0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.35110766120784753, 0), (0, 0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12279926243494323, 0), (0, 0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.09653346354354148, 0), (0, 0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.1894785903905003, 0), (0, 0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.6447416367376194, 1), (1, 0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.49973827165859197, 0), (0, 0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.38953149469289, 0), (1, 0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.5001612226284466, 1), (0, 0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13431464561079212, 0), (0, 0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.051366563789338106, 0), (1, 0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.525428436293439, 1), (1, 0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.525428436293439, 1), (0, 0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.051366563789338106, 0), (0, 0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.5123518738925141, 1), (0, 0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.35149320375017246, 0), (1, 0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6333849402703989, 1), (0, 0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13431464561079212, 0), (1, 0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6333849402703989, 1), (0, 0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.24494273576137351, 0), (0, 0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13431464561079212, 0), (0, 0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.4919621401501115, 0), (0, 0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.26224032774538253, 0), (1, 0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.966560156232829, 1), (1, 0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.9123989237228621, 1), (1, 0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.7465975923060953, 1), (0, 0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.0230895016874011, 0), (0, 0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.2956474890457222, 0), (0, 0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.07644956838010682, 0), '

In [29]:
insert_query = insert_query[:-2] + ';'

In [30]:
insert_query

'INSERT INTO predicted_outputs VALUES(0, 0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12279926243494323, 0), (1, 0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.8733923470447209, 1), (0, 0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.2683049546034322, 0), (0, 0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.1963853143922252, 0), (1, 0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.7235017225544896, 1), (1, 0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.7168905020985188, 1), (1, 0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.5705238370679658, 1), (0, 0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12279926243494323, 0), (0, 0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.13411805408968352, 0), (1, 0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.5250065611752316, 1), (0, 0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.4549980207286245, 0), (0, 0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.6447416367376194, 1), (0, 0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.35110766120784753, 0), (0, 0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.12279926243494323, 0), (0, 0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.09653346354354148, 0), (0, 0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.1894785903905003, 0), (0, 0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.6447416367376194, 1), (1, 0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.49973827165859197, 0), (0, 0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.38953149469289, 0), (1, 0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.5001612226284466, 1), (0, 0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13431464561079212, 0), (0, 0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.051366563789338106, 0), (1, 0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.525428436293439, 1), (1, 0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.525428436293439, 1), (0, 0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.051366563789338106, 0), (0, 0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.5123518738925141, 1), (0, 0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.35149320375017246, 0), (1, 0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6333849402703989, 1), (0, 0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13431464561079212, 0), (1, 0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6333849402703989, 1), (0, 0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.24494273576137351, 0), (0, 0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.13431464561079212, 0), (0, 0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.4919621401501115, 0), (0, 0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.26224032774538253, 0), (1, 0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.966560156232829, 1), (1, 0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.9123989237228621, 1), (1, 0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.7465975923060953, 1), (0, 0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.0230895016874011, 0), (0, 0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.2956474890457222, 0), (0, 0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.07644956838010682, 0);'

##### Open and Close Connection

In [39]:
cursor.execute(insert_query)

40

In [37]:
conn = pymysql.connect(database = 'predicted_outputs', user= 'root', password = 'biscuit240422')

In [38]:
cursor = conn.cursor()

In [40]:
conn.commit()

In [36]:
conn.close()